
.buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .5rem .8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}