@use '../utils'as utils;
@use './colors'as *;
@use '../utils/functions'as fn;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  

}

:root {
  --background-color-alt: #ffffff;
  --text-color: #111517;
  --text-color-secondary: #888;
  --accent-color: #3f51b5;
  --hover-bg-color: #e0e0e0;
  --hover-text-color: #111517;
  --selected-bg-color: #eee; 
  --selected-text-color: #111517;
  --border-color: #f0f0f0;
  --skeleton-bg-start: #f0f0f082;
  --skeleton-bg-mid: #e0e0e0ba;
  --skeleton-border-color: #e5e5e5;
  --skeleton-element-color: #dcdcdc8b;
  --skeleton-overlay-color: rgba(255, 255, 255, 0.7);
  --skeleton-overlay-border: rgba(255, 255, 255, 0.05);
  --skeleton-text-color: #cccccc84;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}

img {
  max-width: 100%;
}

a,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:visited,
a:active {
  cursor: pointer;
  letter-spacing: fn.rem(0.2);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  color: inherit;
  padding: 0;
  margin: 0;
}


li {
  letter-spacing: 0.5;
}

body {
  margin: 0;
  padding: 0;
  font-family: utils.$base-font;
  font-weight: 300;
  background-color: #fff;
}

input,
select {
  outline: none;
  border: none;
}

input::placeholder {
  font-size: 1rem;
}
